form{
  border: 3px solid black;
  border-radius: 5px;
  background-color: skyblue;
  color: white;
  margin: 0 auto;
  width: 600px;
  padding: 1em;
  font-size: 20px;
}
label {
 display: inline-block;
  width: 90px;
  text-align: right;
}/*
input, textarea {
  box-sizing: border-box;
  width: 500px;
}
input{
  margin-bottom: 3em;
}
textarea{
  vertical-align: top;
  height: 300px;
}
button {
  margin-left: 90px;
}