*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 200;
} 

#banner {
  width: 100%;
  height: 300px;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.titre{
  position: absolute;
  top: 200px;
  left: 460px;
  font-size: 90px;
  font-family: 'ITC Avant Garde Gothic Std';
  font-weight: bold;
  font-style: italic;
}
/*Nav*/
nav{
  display: flex;
  height: 80px;
  width: 100%;
  background-color: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}

/*Logo dans le nav*/
nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 60px;
}

/*Organisation Nav*/
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

/*Style des boutons nav*/
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  margin: 0 5px;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

/*Animation dans le nav*/
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
}

/*cache burger*/
nav .menu-btn i{
  cursor: pointer;
  display: none;
}

/*case pour burger*/
input[type="checkbox"]{
  display: none;
}

/*/*Responsive*/
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}

@media (max-width: 1000px) {
  nav .menu-btn i{
    display: flex;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: flex;
    font-size: 20px;
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}

/*Formulaire*/
form{
  border: 3px solid black;
  border-radius: 5px;
  background-color: #131313;
  color: white;
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  margin-top: 80px;
  font-size: 0 auto;
}

div .form-inscr label {
  display: inline-block;
  width: 90px;
  text-align: top left;
}
input, textarea {
  box-sizing: border-box;
  width: 350px;
  text-align: left;
}
input{
  margin-bottom: 3em;
  border-radius: 5px;
}
textarea{
  vertical-align: top;
  height: 300px;
  border-radius: 5px;
}
button {
  margin-left: 90px;
}
label {
  display: inline-block;
  width: 90px;
}

/*style par défaut bouton formulaire*/
.button-form{
  position: relative;
  margin: 10px;
  padding: 24px 32px;
  border-radius: 1200px;
  background-color: transparent;
  color: #FFF;
  border: solid 1px black;
  overflow: hidden;
  cursor: pointer;
}
/*Survole bouton*/
.button-form:hover{
  color:#000;
  background-color: white;
  transition: all 0.3s ease
}

/*Boutique*/
/*Groupe de produits*/
.produits{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 20px;
}

/*produit par produit*/
.produit{
  background: #ffffff;
  text-align: center;
  width: 240px;
  height: 400px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border-radius: 12px;
  font-size: 18px;
}
.produit:hover {
  box-shadow: 5px 15px 25px #eeeeee;
}


.produit a:hover{
  transform: scale(1.1);
}
/*Définis l'espace et taille texte*/
.produit-titre, .produit-prix, .produit-descr{
  font-size: 18px;
  padding-bottom: 10px;
}

/*Images boutique base*/
.produit img {
  height: 180px;
  width: 180px;
  margin: 1rem;
  transition: all 0.3s;
  border-radius: 6px;
}
/*effet zoom sur images boutique*/
.produit:hover img{
  scale:  1.1;
}

.produit-btn{
  text-decoration: none ;
  background-color: #1b1b1b;
  border: none;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
}

#customAlert{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(255,255,255,0.75);
}

#box{
  border-radius: 5px;
  margin: 100px 100px 700px 700px;
  height: 150px;
  width: 500px;
  text-align: center;
  box-shadow: 2px 2px 8px black;
  background-color: white;
}

.heading{
  color: white;
  background-color: #383838;
  padding: 10px;
  font-size: larger;
}

.content{
  margin-top: 15px;
}

#confirmbtn{
  height: 25px;
  width: 80px;
  border-radius: 8px;
  background-color: #383838;
  color:white;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 400px;
}

/*Personnel*/
/*Groupe de personnels*/
.personnels{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/*personnel par personnel*/
.personnel{
  background: #ffffff;
  text-align: center;
  width: 240px;
  height: 480px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 140px;
  border-radius: 12px;
  font-size: 18px;
}
.personnel:hover {
  box-shadow: 5px 15px 25px #CDCDCD;
}

.personnel a:hover{
  transform: scale(1.1);
}
/*Définis l'espace et taille texte*/
.personnel-titre, .personnel-descr{
  font-size: 18px;
  padding-bottom: 10px;
}

/*Images boutique base*/
.personnel img {
  height: 55%;
  width: 80%;
  margin: 1rem;
  transition: all 0.3s;
  border-radius: 6px;
}

/*effet zoom sur images boutique*/
.personnel:hover img{
  scale:  1.1;
}


/*Footer*/
#contents {
  position: relative;
  min-height: 100vh;
}

#content {
  padding-bottom: 20vh;    /* Hauteur du pied-de-page */
}

#footer{
  background-color: #1b1b1b;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 20vh;            /* Hauteur du pied-de-page */
}

.p_footer{
  text-align: center;
  color: whitesmoke;
  text-decoration: underline;
}
.ul_footer{
  list-style-type: none;
  padding-top: 30px;
}
.footer__link{
  text-decoration: none;
  color:white;
}
.footer__link:hover{
  color: green;
}